.single_card{
    width:32%;
    background-color: #FFFFFF;
    border-radius: 10px;
    height:271px;
    box-shadow: 0 0 5px rgb(202, 200, 200);
    padding-bottom: 9px;
 }
 .name_rating{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap:10px;
     padding-left: 24px;
 }
 .singlecard_footer{
     display:flex;
     flex-direction: column;
     background-color: #F3F4F6;
     padding-bottom: 5px;
     padding-left: 20px;
 }
 .adress{
    padding-left: 20px;
 }
 .adress1{
    padding-left: 45px;
 }